<header class="Header">
	<div class="Header-title">
		<div class="Header-logo">
			{% include svg/logo.svg %}
			<h1 class="u-hidden">{{ site.title }}</h1>
		</div>
		<h2 class="Header-description">{{ site.description }}</h2>
	</div>
</header>
