<a {% if page.path == 'index.html' %} class="active" {% endif %} href="/">Home</a>
<a {% if page.path == 'story.html' %} class="active" {% endif %} href="/story">Story</a>
<a {% if page.path == 'press.html' %} class="active" {% endif %} href="/press">Press</a>
<a {% if page.path == 'stockists.html' %} class="active" {% endif %} href="/stockists">Stockists</a>

<a href="/buy" class="button">Buy online</a>
