---
layout: default
title: Buy online
---

<p class="small color-white background-yellow" style="padding: 20px 10%; margin: -10px 0 0;"><strong>Delivery note:</strong> as we're a small family business and our product is frozen, we need to handle the deliveries ourselves. For this reason we only deliver on Sundays and in certain postcodes. You can choose one from the following timeslots: morning (9am - 12pm), afternoon (12pm - 5pm) and evening (5pm - 8pm). <span class="color-blue">The next available delivery is on Sunday 28th May.</span></p>

{% include product.liquid %}


<div class="section">
	{% include contact.liquid %}
</div>
