---
layout: default
title: Where to buy
---

<div class="section">
	<div class="grid">
		<h1 class="col -block md-push-1 lg-push-2 title">
			Where to buy<br>
			<span class="salmon">Bake-at-home<br>frozen packs.</span>
		</h1>
	</div>
	<div class="grid stockist-list">
		{% for shop in site.data.stockists limit: 3 %}
			{% include stockist.liquid %}
		{% endfor %}
	</div>
	<div class="grid stockist-list">
		{% for shop in site.data.stockists limit: 3 offset:3 %}
			{% include stockist.liquid %}
		{% endfor %}
	</div>
</div>

<div class="banner">
	<div class="banner-img -small fake-img -sixteen-x-seven" style="background-image: url(/images/full-width-image-twohands.jpg);"></div>
	<div class="banner-img -medium fake-img -sixteen-x-seven" style="background-image: url(/images/full-width-image-twohands.jpg);"></div>
</div>

<div class="section -blue stockist-interest">
	<div class="grid">
		<h2 class="h1 col md-push-1 lg-push-2">
			Interested in stocking?
		</h2>
	</div>

	<div class="grid">
		<div class="col md-7 lg-5 md-push-1 lg-push-3">
			<p class="measure-wider">We're currently growing our network of retailers in London. If you're interested in stocking our product at your store, please call Clara on +447952216979 or email us at <a href="mailto:oi@donarita.co.uk">oi@donarita.co.uk</a>. Distributors welcome.</p>
		</div>
	</div>

	<div class="grid">
		<div class="col fluid md-7 md-push-1 lg-6 lg-push-2">
			<div class="fake-img -three-x-two" style="background-image: url(/images/stock.jpg);"></div>
		</div>
	</div>
</div>


<div class="section">
	{% include contact.liquid %}
</div>
