<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-2 lg-push-3">
		<p class="measure">
			A proper Pão de Queijo is a two-bite business: crunchy on the outside and fluffy on the inside. Made with cassava flour and fresh cheese, it’s a farmer’s take on traditional European bread - without the wheat. Pão de Queijo is a staple snack at most cafes, restaurants and dinner parties across Brazil. It’s cheesily addictive and naturally gluten free.
		</p>
		<p class="measure">
			Try pairing it with a short black coffee Sao Paulo style, or spread thickly with guava<sup class="-yellow">&#9679;</sup> jam for a sweet contrast.
		</p>
	</div>

	<div class="col md-3 lg-2">
		<p class="small faded footnote -yellow" data-id="&#9679;">
			Guava jam is made with guava, a tropical fruit that’s sweet and aromatic. It’s the most popular dip for Pao de Queijo. You can use your favourite english jam as a substitute.
		</p>
	</div>
</div>
