<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-3">
		<h2>
			Rita’s saudade<sup>2</sup>
		</h2>
	</div>

	<div class="col md-7 lg-5 md-push-1 lg-push-3">
		<p class="measure">
			When Rita left the tropics for Norwich she missed Pão de Queijo so much she started baking it from scratch. For the last 15 years she’s been perfecting her secret family recipe. Now her little cheese bread is so delicious, some people think it’s better than the original. We can’t wait for you to try it.
		</p>
	</div>

	<div class="col md-3 lg-2">
		<p class="small faded footnote" data-id="2">
			Saudade is a feeling of nostalgia and homesickness characteristic of Brazilian temperament. This portuguese word has no translation.
		</p>
	</div>
</div>
