<div class="debug-grid">
	<div class="container grid">
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
		<div class="col sm-1"></div>
	</div>
</div>
