<div class="grid">
	<h1 class="col md-push-1 lg-push-2">
		Eat it
	</h1>
</div>

<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-3">
		<h3>Find us at Old Street Station</h3>
		<p class="measure">We'll be popping up at Old Street Underground Station from the 8th till the 21st of May, from 7:30 till 19:30. We'll be selling freshly baked Pão de Queijo as well as bake-at-home frozen bags.</p>
		<!-- <p><a href="mailto:oi@donarita.co.uk" class="button">Ask for an invite</a></p> -->
	</div>
	
	<!--<div class="col md-3 lg-2">
		<h3 class="faded">Future pop ups</h3>
		<p class="small faded">We'll be appearing in <a href="http://www.oldstreetunderground.com/">Old Street Underground</a> from the 8th till 22nd of May.</p>
		<!--<p class="small faded">We’ll soon use uber eats, deliveroo or our own delivery system to bring you Pão de Queijo at home.
		</p>-->
	</div> -->
</div>

<div class="grid">
	<div class="col fluid md-7 md-push-1 lg-6 lg-push-2">
		<div class="fake-img -square" style="background-image: url(/images/eatit.jpg);"></div>
	</div>
</div>

<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-2">
		<h2 class="h1">
			It’s pronounced pown-deh-kay-zho.
		</h2>
	</div>
</div>
