<div class="grid">
	<h1 class="col md-push-1 lg-push-2">
		Eat it
	</h1>
</div>

<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-3">
		<h3 class="measure-wider">BBC Good Food Show</h3>
		<p class="measure-wider">We're exhibiting at the London BBC Good Food Show at the Tower of London from 22 - 24 September. </p>
		<p class="measure-wider">For more information, <a href="https://www.bbcgoodfoodshow.com/feast-tower" target="_blank">click here</a>.</p>
	</div>

	<div class="col md-3 lg-2">
		<h3>Find a shop</h3>
		<p class="small">Buy our frozen bake-at-home packs from a few shops around London.</p>
		<p style="margin-top: 30px;"><a href="/stockists" class="button">See stockists</a></p>
	</div>
</div>

<div class="grid">
	<div class="col fluid md-7 md-push-1 lg-6 lg-push-2">
		<div class="fake-img -three-x-two" style="background-image: url(/images/img-1.jpg);"></div>
	</div>
</div>

<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-2">
		<h2 class="h1">
			It’s pronounced pown-deh-kay-zho.
		</h2>
	</div>
</div>
