<div class="grid">
	<h1 class="col md-push-1 lg-push-2">
		Eat it
	</h1>
</div>

<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-3">
		<h3 class="measure-wider">Buy it from Eat17</h3>
		<p class="measure-wider">We're glad to announce that you can now buy our bake-at-home packs from <a href="https://www.eat17.co.uk">Eat17 Walthamstow</a>.</p>
		<!--<p><a href="/buy" class="button">Buy online</a></p>-->
	</div>

	<div class="col md-3 lg-2">
		<h3 class="faded">Stock us</h3>
		<p class="small faded">If you're interested in stocking our frozen packs, please <a href="mailto:oi@donarita.co.uk">send us an email</a>. We'd love to chat.</p>
	</div>
</div>

<div class="grid">
	<div class="col fluid md-7 md-push-1 lg-6 lg-push-2">
		<div class="fake-img -square" style="background-image: url(/images/eatit.jpg);"></div>
	</div>
</div>

<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-2">
		<h2 class="h1">
			It’s pronounced pown-deh-kay-zho.
		</h2>
	</div>
</div>
