<div class="grid">
	<div class="col md-push-2 lg-push-3">
		<h2>
			Family business
		</h2>
	</div>

	<div class="col md-6 lg-5 md-push-2 lg-push-3">
		<p class="measure">
			Rita loves handing Pão de Queijo out to her children after family gatherings. Her dream really is to hand them out to everyone in town.
		</p>

		<p class="measure">Rita’s son Pedro is ready to help his mum with the adventure. Clara, Pedro’s girlfriend, couldn’t be happier: she’s allergic to gluten and Pão de Queijo has quickly become a staple on her diet. She still gets impressed at the tasty fluffiness of this gluten free snack and believes Londoners will do, too.
		</p>
	</div>
</div>
