<div class="grid">
	<div class="col md-push-1 lg-push-3">
		<h2>
			Family business
		</h2>
	</div>
</div>

<div class="grid">
	<div class="col md-7 lg-5 md-push-1 lg-push-3">
		<p class="measure">
			Rita is already renowned for her Pao de Queijo with her family and friends.
		</p>

		<p class="measure">And none more so than with Clara, her son Pedro’s girlfriend. Allergic to gluten, Pão de Queijo has quickly become a staple in Clara’s diet, and she continues to be in awe of the tasty and fluffy gluten-free snacks.
		</p>

		<p class="measure">A truly family enthused adventure, Rita’s dream is for Londoner’s to try her delicious Brazilian bites, and with the help of Clara and Pedro, to share them with everyone in town.
		</p>
	</div>

	<div class="col fluid md-7 md-push-1 lg-6 lg-push-2">
		<div class="fake-img -three-x-two" style="background-image: url(/images/family.jpg);"></div>
	</div>
</div>
