<form action="//donarita.us16.list-manage.com/subscribe/post?u=eacce3d5004edba44cd8a399b&amp;id=96e117a9ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


	<div class="mc-field-group" style="display: flex; flex-wrap: wrap;">
		<input type="email" value="" name="EMAIL" placeholder="Your email address" style="flex: 1">
		<button>Get voucher</button>
	</div>

	<div style="display: none;">
		<label for="mce-group[2853]-2853-0">Brazilian</label>
		<input type="radio" value="1" name="group[2853]" {% if include.audience == 'br' %} checked="checked" {% endif %}>

		<label for="mce-group[2853]-2853-1">Gluten Free</label>
		<input type="radio" value="2" name="group[2853]" {% if include.audience == 'gf' %} checked="checked" {% endif %}>
	</div>


	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eacce3d5004edba44cd8a399b_70a85050c0" tabindex="-1" value=""></div>

	<div class="clear">
	</div>

</form>
