<form action="//donarita.us16.list-manage.com/subscribe/post?u=eacce3d5004edba44cd8a399b&amp;id=d99b701887" method="post" id="voucher-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<div class="mc-field-group" style="display: flex; flex-wrap: wrap;">
		<input type="email" value="" name="EMAIL" placeholder="{% if include.placeholder %}{{include.placeholder}}{% else %}Your email address{% endif %}" style="flex: 1">
		<button>{% if include.buttonText %}{{include.buttonText}}{% else %}Get voucher{% endif %}</button>
	</div>

	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_eacce3d5004edba44cd8a399b_70a85050c0" tabindex="-1" value=""></div>

	<div class="clear">
	</div>

</form>
