* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $fontDefault;
	font-size: $fontBase;
	line-height: 1.6em;

	padding: 20px;

	@include small {
		padding: 60px;
	}
}

h1, h2, h3, h4 {
	line-height: 2em;
}

h3 {
	margin-top: 30px;
}

p {
	max-width: 600px;
	margin-bottom: 16px;
}

img {
	vertical-align: middle;
	width: 100%;
	max-width: 660px;
	margin: 10px 0;
}
