<!DOCTYPE html>
<html>
	{% include global/head.html %}

	<body class="debug1">
		<div class="logo">{% include svg/pdq-logo.svg %}</div>
		<div class="main">
			{{ content }}
		</div>

		<div class="debug-grid">
			<div class="container grid">
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
			</div>
		</div>
	</body>
</html>
