<!DOCTYPE html>
<html class="no-js">
	<script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
	{% include global/head.html %}

	<body class="debug1">
		<div class="grid">
			<a href="#mobile-nav" class="mobile-menu -open">
				{% include svg/menu.svg %}
			</a>

			<nav id="mobile-nav" class="main-nav -mobile">
				<a href="#" class="mobile-menu -close">
					{% include svg/close.svg %}
				</a>
				{% include global/nav-links.liquid %}
			</nav>
			<nav class="main-nav -desktop col md-9 md-push-2">
				{% include global/nav-links.liquid %}
			</nav>
		</div>

		<div class="main">
			{{ content }}
		</div>

		<div class="debug-grid">
			<div class="container grid">
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
			</div>
		</div>

		<script>
			function addClass(element, className) {
				if (!element) { return; }
				element.className = (element.className + ' ' + className).trim();
			}

			function removeClass(element, className) {
				if (!element) { return; }
				element.className = element.className.replace(className, '').trim();
			}

			// code below from: http://codepen.io/gavra/pen/tEpzn
			// yes, im lazy.
			var TxtType = function(el, toRotate, period, delay) {
				this.toRotate = toRotate;
				this.el = el;
				this.loopNum = 0;
				this.period = parseInt(period, 10) || 2000;
				this.loop = this.toRotate.length === 1 ? false : true;
				this.txt = '';
				var that = this;
				el.innerHTML = '&nbsp;';
				setTimeout(function() {
					that.tick();
				}, delay);
				this.isDeleting = false;
			};

			TxtType.prototype.tick = function() {
				var i = this.loopNum % this.toRotate.length;
				var fullTxt = this.toRotate[i];

				if (this.isDeleting) {
					this.txt = fullTxt.substring(0, this.txt.length - 1);
				} else {
					this.txt = fullTxt.substring(0, this.txt.length + 1);
				}

				this.el.innerHTML = this.txt + '&nbsp;';

				var delta = 200 - Math.random() * 100;

				if (this.isDeleting) { delta /= 2; }

				if (!this.isDeleting && this.txt === fullTxt) {
					delta = this.period;
					this.isDeleting = true;
				} else if (this.isDeleting && this.txt === '') {
					this.isDeleting = false;
					this.loopNum++;
					delta = 500;
				}

				var that = this;
				setTimeout(function() {
					that.tick();
				}, delta);
			};

			// https://remysharp.com/2010/07/21/throttling-function-calls
			function throttle(fn, threshhold, scope) {
				threshhold || (threshhold = 250);
				var last, deferTimer;
				return function () {
					var context = scope || this;
					var now = +new Date, args = arguments;
					if (last && now < last + threshhold) {
						clearTimeout(deferTimer);
						deferTimer = setTimeout(function () {
							last = now;
							fn.apply(context, args);
						}, threshhold);
					} else {
						last = now;
						fn.apply(context, args);
					}
				};
			}

			function isInViewport(element) {
				var imageOffset = element.getBoundingClientRect().top;
				var viewportHeight = window.innerHeight;
				return imageOffset <= (viewportHeight - element.clientHeight / 2);
			}

			window.onload = function() {
				var typewritesNodeList = document.querySelectorAll('.typewrite');
				var typewrites = Array.prototype.slice.call(typewritesNodeList);
				typewrites.forEach(function(typewrite) {
					var toRotate = typewrite.getAttribute('data-type');
					var period = typewrite.getAttribute('data-period');
					var delay = typewrite.getAttribute('data-delay') || 0;
					if (toRotate) {
						new TxtType(typewrite, JSON.parse(toRotate), period, delay);
					}
				});

				var imagesNodeList = document.querySelectorAll('.fake-img');
				var imageNodes = Array.prototype.slice.call(imagesNodeList);
				var images = [];
				imageNodes.forEach(function(image) {
					images.push({
						el: image
					});
				});

				function checkImages() {
					images.forEach(function(image) {
						if (isInViewport(image.el) && !image.el.loaded) {
							addClass(image.el, 'is-loaded');
							image.el.loaded = true;
						};
					});
				}

				setTimeout(function() {
					checkImages();
				}, 2000);

				window.addEventListener('scroll', throttle(function() {
					checkImages();
				}));

			};
		</script>

		{% if jekyll.environment == 'production' %}
		<!-- Github pages automatically sets jekyll.environment -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-88250609-1', 'auto');
			ga('send', 'pageview');
		</script>
		{% endif %}
	</body>
</html>
