<!DOCTYPE html>
<html>
	{% include global/head.html %}

	<body class="debug1">
		<div class="section -logo grid">
			<div class="col md-push-1 lg-push-2">{% include svg/pdq-logo.svg %}</div>
		</div>

		<div class="main">
			{{ content }}
		</div>

		<div class="debug-grid">
			<div class="container grid">
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
				<div class="col sm-1"></div>
			</div>
		</div>

		<script>
		// code below from: http://codepen.io/gavra/pen/tEpzn
		// yes, im lazy.
		var TxtType = function(el, toRotate, period, delay) {
				this.toRotate = toRotate;
				this.el = el;
				this.loopNum = 0;
				this.period = parseInt(period, 10) || 2000;
				this.loop = this.toRotate.length === 1 ? false : true;
				this.txt = '';
				var that = this;
				el.innerHTML = '&nbsp;';
				setTimeout(function() {
					that.tick();
				}, delay);
				this.isDeleting = false;
			};

			TxtType.prototype.tick = function() {
				var i = this.loopNum % this.toRotate.length;
				var fullTxt = this.toRotate[i];

				if (this.isDeleting) {
					this.txt = fullTxt.substring(0, this.txt.length - 1);
				} else {
					this.txt = fullTxt.substring(0, this.txt.length + 1);
				}

				this.el.innerHTML = this.txt + '&nbsp;';

				var delta = 200 - Math.random() * 100;

				if (this.isDeleting) { delta /= 2; }

				if (!this.isDeleting && this.txt === fullTxt) {
					delta = this.period;
					this.isDeleting = true;
				} else if (this.isDeleting && this.txt === '') {
					this.isDeleting = false;
					this.loopNum++;
					delta = 500;
				}

				var that = this;
				setTimeout(function() {
					that.tick();
				}, delta);
			};

			window.onload = function() {
				var elements = document.getElementsByClassName('typewrite');
				for (var i=0; i<elements.length; i++) {
					var toRotate = elements[i].getAttribute('data-type');
					var period = elements[i].getAttribute('data-period');
					var delay = elements[i].getAttribute('data-delay') || 0;
					if (toRotate) {
						new TxtType(elements[i], JSON.parse(toRotate), period, delay);
					}
				}
			};
		</script>
	</body>
</html>
